<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CLPhotoDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D3C2F1B51FC6C63800D8C505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C2F1CD1FC6C63900D8C505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D3C2F1D81FC6C63900D8C505</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
